@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white antialiased overflow-x-hidden transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-neutral-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-neutral-600 rounded-full hover:bg-gray-500 dark:hover:bg-neutral-500;
}
